<nav class="navbar">
    <ul class="navbar__list">
        <li>
            <a href="/" class="navbar__link">Main</a>
        </li>
        <li>
            <a href="/about" class="navbar__link">About</a>
        </li>
    </ul>
</nav>