<div class="calculator">
    <div class="calc__input-wrapper">
        <input type="text" class="form-control calc-input" placeholder="" aria-describedby="addon-wrapping" disabled id="calc-input">
    </div>
    <div class="row">
        <div class="col-4">
            <button type="button" data-target="1" class="btn btn-light calc-btn">1</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="2" class="btn btn-light calc-btn">2</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="3" class="btn btn-light calc-btn">3</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="4" class="btn btn-light calc-btn">4</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="5" class="btn btn-light calc-btn">5</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="6" class="btn btn-light calc-btn">6</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="7" class="btn btn-light calc-btn">7</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="8" class="btn btn-light calc-btn">8</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="9" class="btn btn-light calc-btn">9</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="+" class="btn btn-light calc-btn">+</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="0" class="btn btn-light calc-btn">0</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="-" class="btn btn-light calc-btn">-</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="*" class="btn btn-light calc-btn">*</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="/" class="btn btn-light calc-btn">/</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="=" class="btn btn-light calc-btn">=</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="%" class="btn btn-light calc-btn">%</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="." class="btn btn-light calc-btn">.</button>
        </div>
        <div class="col-4">
            <button type="button" data-target="c" class="btn btn-light calc-btn">C</button>
        </div>
      </div>
</div>